body {
	color: #ffffff;
    text-align: center;
    background-color: #ffffff;
	font-size:16px;
	font-family: "Indie Flower";
	background-image: url('assets/images/bgSite.png'); 
}

h1 {
	font-family:  Helvetica, sans-serif;
	font-size:45px;
	color: #9E3B33;
}
 
 
a {
   color:  #ffffff;
 }

#canvascontainer{		
	margin: 0 auto;	
	
	width: 1200px;
	height: 880px;
	border: 1px solid #000000; 
	position: relative;
	border-radius: 2px;
	
}

#cr-stage { 
	
	border-radius: 5px;
	color: white;
	/* cursor: none;  */
	background-color: #342500;
	/*left: 30px;	*/
}


@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}